
<header class="main--header">
  <nav class="main--nav">
    <ol>
      <li><a routerLink="/" routerLinkActive="router-link-active" >Watcher</a></li>
      <li>
        <a routerLink="/movies" routerLinkActive="router-link-active" >Movies</a>
      </li>
      <li>
        <a routerLink="/series" routerLinkActive="router-link-active" >Series</a>
      </li>
      <li>
        <a routerLink="/animations" routerLinkActive="router-link-active" >Animations</a>
      </li>
      <li>
        <a href="">Login</a>
      </li>
    </ol>
  </nav>
</header>
