

<div class="authenticate">

  <div class="authenticate--bg">
    <h1 class="t">W</h1>
  </div>


  <div class="authenticate--form">
    <h1 class="authenticate--title">Login</h1>
    <h3 class="error" *ngIf="error">{{error}} </h3>
    <form class="form--group" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form--group--item">
        <label for="">E-mail</label>
        <input
        type="email"
        ngModel
        name="email"
        required
        email
        >
      </div>
      <div class="form--group--item">
        <label for="">Password</label>
        <input
        type="password"
        ngModel
        name="password"
        required
        minlength="6"
        >
      </div>
      <div class="form--group--item">
        <button class="auth--button" type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign In'}}</button>
        <button class="auth--button" type="button" (click)="onSwitchMode()"> Switch to {{isLoginMode ? 'Sign In' : 'Login'}}  </button>
      </div>
    </form>
  </div>
</div>
