.detail{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
  "Header Header Header Header Header Header"
  "Header Header Header Header Header Header"
  "Body Body Body Body Body Body";

  &--header{
    grid-area: Header;
    height: 400px;
    background-size: cover;
    background-position: top center;

    &--overlay{
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgb(16 19 33) 150px, rgba(18.82%, 14.51%, 13.33%, 0.84) 100%);
      min-height: 400px;
      display: flex;
      flex-flow: column;
      padding-left: 300px;
      justify-content: flex-end;
      gap: 2rem;
      padding-bottom: 20px;
    }

  }

  &--body{
    margin-top: -200px;
    padding: 1rem 3rem;
    grid-area: Body;
    color: #fff;
    background-color:transparent;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas:
    "Poster Info Info . . "
    "Poster Info Info Media Media"
    "Trailer Trailer Trailer Media Media"
    "Trailer Trailer Trailer Media Media"
    "Crew Crew Crew Crew Crew";

    &--poster{
      grid-area: Poster;
    }
    &--info{
      grid-area: Info;
      display: flex;
      flex-flow: column wrap;
      font-size: 1rem;


      &--title{
        font-size: 2rem;
        margin-bottom: .5rem;
      }


      &--genres{
        margin-top: 2rem;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        span{
          display: flex;
          padding: .4rem;
          border: 1px solid #fff;
          border-radius: 4px;
        }
      }

      &--overview{
        margin-top: 2rem;
        color: #ddd;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        h3{
          font-size: 1.6rem;
        }

        p{
          font-size: 1.1rem;
        }
      }
    }

    &--media{
      grid-area: Media;
    }

    &--trailer{
      grid-area: Trailer;
      aspect-ratio: 16/9;
    }

    &--crew{
      grid-area: Crew;
      &--cast{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: 4rem;

        h4{
          font-size: 1.1rem;
          font-weight: 400;
        }
        h5{
          font-size: .9rem;
          font-weight: 400;
        }

        div>img{
          aspect-ratio: 0.79;

        }
      }
    }



  }
}
