<div class="detail">
  <div class="detail--header" style="background-image: url(https://image.tmdb.org/t/p/original/{{figure.backdrop_path}});">
  <div class="detail--header--overlay"></div>
  </div>

  <div class="detail--body">
    <div class="detail--body--poster">
      <img src="https://image.tmdb.org/t/p/w500/{{figure.poster_path}}" alt="">
    </div>
    <div class="detail--body--info">
      <h3 class="detail--body--info--title">
        {{figure.title ? figure.title: figure.name }}

      </h3>
      <h4>
        {{figure.release_date ? figure.release_date : figure.first_air_date}} {{figure.last_air_date ? '-'+figure.last_air_date : ''}}
      </h4>
      <div class="detail--body--info--genres">
        <span *ngFor="let genre of figure.genres"> {{ genre.name }} </span>
      </div>
      <div class="detail--body--info--overview">
        <h3>Overview</h3>
        <p>
          {{figure.overview}}
        </p>
      </div>
    </div>
    <div class="detail--body--media">
      <h3>Media</h3>
    </div>

    <div class="detail--body--trailer">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Pj0wz7zu3Ms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="detail--body--crew">
      <h3>CAST</h3>
      <div class="detail--body--crew--cast">
        <div *ngFor="let cast of figureCast" class="detail--body--crew--cast--card">


          <div *ngIf="cast.profile_path">
            <img src="https://www.themoviedb.org/t/p/w276_and_h350_face/{{cast.profile_path}}" alt="">
          </div>
          <div *ngIf="!cast.profile_path">
            <img src="/assets/img/default-avatar.png" alt="">
          </div>
          <h4>{{cast.name}}</h4>
          <h5>{{cast.character}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
