.add--list--btn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  min-height: 48px;
  min-width: 48px;
  border: 0;
  padding: .5rem;
  opacity: 0;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .24s ease-in-out;
}


.figure:hover .add--list--btn{
  display: block;
  opacity: 1;
}
